.loginDiv {
    text-align: center;
    width: 50%;
    padding: 10px;
    float: none;
    margin: auto;
}

.userDiv {
    padding: 0px;
    float: right;
}

.sectionDiv {
    text-align: center;
    width: 100%;
    padding: 10px;
    float: none;
    margin: auto;
}