:host ::ng-deep .tabview-custom {
    i,
    span {
        vertical-align: middle;
    }
    span {
        margin: 0 .5rem;
    }
}

:host ::ng-deep .p-button {
    margin-right: .25rem;
}

:host ::ng-deep .p-tabview p {
    line-height: 1.5;
    margin: 0;
}

.product-item {
    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }
    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}